<!DOCTYPE html>
<html>
  <head>
    <title>Autentication GitHub</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style>

    #container{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      font-family: arial;
      background-color: #FFFFE0;
      border-radius: 25px;
      padding: 20px;
    }

    body{
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0;
      margin: 0;
      background-color: #FF8C00;
    }

    .inputs{
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 10px 0;
    }

    .actions{
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 15px;
    }

    .actions input{
    }

    </style>
  </head>

  <body>
    <div id="container">
    <%= yield %>
    </div>
  </body>
</html>
